body {
	font-family: 'Merriweather Sans', sans-serif;
	box-sizing: border-box;
}

.row {
	color: #cdcdcd;
	display: flex;
	display: -webkit-flex;
	width: 80%;
	margin: auto;
}

.header {
	background-color: black;
	height: 4em;
	left-margin:0;
	right-margin:0;
}

.main {
	background-color: white;
	height: 600px;
	left-margin:0;
	right-margin:0;
}

.title {
	padding-left: 10px;
	padding-top: 22px;
	font-size: 20px;
}

.hamburger {
	padding: 0px;
}

.hamburger > div {
	width: 0px;
	height: 5px;
	background-color: lightgrey;
	margin: 6px 0;
	padding: 0px;
}


.list {
	width: 25%;
	transition:300ms linear;
}

.location{
	color: black;
	border-style: none none solid solid;
	transition: 0.2s;
	line-height: 3em;
	padding-left: 10px;
	font-size: 1em;
}

.location:hover {
	background-color: cyan;
}

.map {
	width: 75%;
	background-color: lightblue;
	color: black;
	/*margin-left,margin-right:0;*/
	border-style: solid ;
}

@media only screen and (max-width: 700px) {
    .row {
        color: #cdcdcd;
        display: flex;
        display: -webkit-flex;
        width: 100%;
        margin: auto;
    }

    .list {
        width: 0px;
    }

    .map {
        width: 100%;
    }

    .hamburger {
        padding-left: 10px;
    }

    .hamburger > div {
		width: 35px;
		height: 5px;
		background-color: lightgrey;
		margin: 6px 0;
	}

	.title {
		font-size: 18px;
		padding-top: 24px;
	}

	.location{
		line-height: 3em;
		font-size: 0.6em;
}


}

.search {
	border-color: black;
	border-style: solid none solid solid;
	padding:5px;
}

.search > input {
	width:100px;
}

.search > button {
	margin-left:10px;
}